<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/python.css') }}">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% extends "template.html" %}
    {% block content %}
</body>
</html><!DOCTYPE html>
<html>
<head>

</head>
<body>
<section>
    <h2>HTML</h2>
    <ol>
        <li>
            <a href="https://www.w3schools.com/html/">HTML Tutorial</a>
        </li>
        <li>
            <a href="https://www.geeksforgeeks.org/html/">Step-by-Stem HTML instructions</a>
        </li>
    </ol>
</section>
{% endblock %}
</body>
</html>