<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/python.css') }}">
</head>
<body>
{% extends "template.html" %}
    {% block content %}
<section>
    <h2>Python</h2>
    <ol>
        <li>
            <a href="https://www.codecademy.com/resources/docs/python">Python Concepts</a>
        </li>
        <li>
            <a href="https://www.w3schools.com/python/">Python Tutorial</a>
        </li>
        <li>
            <a href="https://www.geeksforgeeks.org/python-programming-language/">Python Programming Language</a>
        </li>
    </ol>
</section>
    {% endblock %}
</body>
</html>
